a {
    text-decoration: none !important;
}

ul {
    list-style: none !important;
}

header div a {
    color: rgba(0, 0, 0, 0.7) !important;
    font-weight: 600;
}

p strong {
    display: block;
}